{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/header_back.svg" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/header_avatar.png" width="24px" height="24px">
        </button>
    </header>

    <h1 class="title">Community</h1>

    <div class="tabbar">
        <div class="tabbar__item">База знань</div>
        <div class="tabbar__item active">Інформаціія</div>
    </div>

    <img src="/img/hero.png" width="343px" height="160px" class="hero-image">

    <div class="info">
        <h1 class="info__title">Що таке база знань?</h1>
        <p class="info__text">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и
            знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию,
            являющуюся результатом решения предыдущих задач. </p>
    </div>

    <button class="button community-button">Перейти до ком'юніті у Телеграм</button> --}}
   

</div>


{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}